@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/ptsans-400.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/ptsans-700.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}

body {
  font-family: 'PT Sans', 'Arial', sans-serif;
  color: #000;
  font-size: 22px;
  line-height: 26px;
}

a {
  text-decoration: none;
  color: inherit;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.button {
  background-color: #756157;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-family: 'PT Sans';
  font-size: 16px;
  line-height: 20px;
}

.button.big {
  font-size: 20px;
  line-height: 36px;
}

.button.action {
  background-color: #82B3D3;
}

.hero {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url('../images/landscape-hero.jpg');
  background-repeat: no-repeat;
  width: 1200px;
  height: 485px;
}

.section-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.section-subtitle {
  color: #333333;
}

.advantages-item.bright {
  background-color: #82B3D3;
  color: #fff;
}

.advantages-item.dim {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item.medium {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-text {
  font-size: 18px;
  color: #333333;
}

.bright .advantages-text {
  color: #fff;
}

.what-todo-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.what-todo-subtitle {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.what-todo-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.email-list {
  background-color: #333333;
  background-image: url('../images/subscribe-background.jpg');
  background-repeat: no-repeat;
  width: 1200px;
  height: 414px;
}

.email-list-title {
  color: #fff;
}

.email-list-subtitle {
  color: #fff;
}

.contacts-link {
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
}

.contacts-link:hover {
  color: #756157;
}

.contacts-link:active {
  color: rgba(117, 97, 87, 0.3)
}
