@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/ptsans-400.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/ptsans-700.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #F2F2F2;
}

.page-wrapper {
  background-color: #fff;
  width: 1200px;
  margin: 0 auto;
}

.pagination,
.breadcrumbs-list,
.infrastructure-list,
.housing-type-list,
.display-by-list,
.catalog-list,
.card-stars-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.centered-text {
  text-align: center;
}
.catalog-container {
  padding: 0 70px;
}

.header {
  color: #000;
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
  gap: 28px;
}

.sedona-logo {
  display: block;
}

.logo-link {
  max-height: 64px;
}

.main-navigation {
  margin-right: auto;
}

.navigation-list, .user-menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}

.current {
  position: relative;
}

.current::after {
  content: "";
  width: calc(100% - 32px);
  height: 2px;
  background-color: #756257;
  display: block;
  top: 100%;
  position: absolute;
}

.user-menu-list {
  display: flex;
  width: 268px;
}

.user-menu-link {
  display: block;
  min-height: 64px;
  min-width: 44px;
}

.user-menu-item:nth-child(1) .user-menu-link {
  background-image: url("../images/icons/search-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.user-menu-item:nth-child(2) .user-menu-link {
  background-image: url("../images/icons/heart-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.user-menu-item:last-child {
  margin-left: auto;
}

.user-menu-button {
  margin: 14px 0;
}

.main-container {
  flex-grow: 1;
  background-color: #fff;
}

.button {
  background-color: #756157;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 34px;
  border-radius: 4px;
  border: none;
}

.button:hover, button:focus {
 background-color: #615048;
}

.button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button.big {
  height: 52px;
  font-size: 20px;
  line-height: 36px;
  padding-left: 50px;
  padding-right: 50px;
}

.button.action {
  background-color: #82B3D3;
}

.button.action:hover, .button.action:focus {
  background-color: #68A2CA;
}

.button.action:active {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 0.3);
}

.button.active {
  background-color: #7DB54F;
}

.hero {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url('../images/landscape-hero.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;

  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 485px;
}

.hero-wellcome {
  display: block;
  margin: 0 auto;
  margin-top: 51px;
}

.about .section-header {
  padding: 69px 70px;
  margin-bottom: 21px;
}

.about .section-title {
  margin-bottom: 25px;
}

.section-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
  margin: 0;
  margin-bottom: 20px;
}

.section-subtitle {
  margin: 0;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 62px;
  max-width: 175px;
  margin: 102px auto 62px;
  position: relative;
}

.advantages-item {
  position: relative;
}

.advantages-title::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  top: 86px;
  left: 57px;
}


.advantages-text {
  font-size: 18px;
  line-height: 28px;
  margin: 0 85px;
}

.advantages-item.bright {
  background-color: #82B3D3;
  color: #fff;
}

.advantages-item.bright .advantages-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.bright .advantages-title {
  color: #fff;
}

.advantages-item.dim {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item.medium {
  background-color: rgba(131, 179, 211, 0.2);
}

.what-todo .section-header {
  padding: 64px 70px;
}

.what-todo-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000;
  margin: 183px 85px 30px;
  position: relative;
}

.what-todo-item:nth-child(1) .what-todo-title:before {
  content: url(../images/icons/house-icon.svg);
  width: 75px;
  height: 72px;
  position: absolute;
  top: -102px;
}

.what-todo-item:nth-child(2) .what-todo-title:before {
  content: url(../images/icons/food-icon.svg);
  width: 74px;
  height: 70px;
  position: absolute;
  top: -102px;
  left: 78px;
}

.what-todo-item:nth-child(3) .what-todo-title:before {
  content: url(../images/icons/gift-box-icon.svg);
  width: 64px;
  height: 76px;
  position: absolute;
  top: -102px;
  left: 83px;
}

.what-todo-subtitle {
  font-size: 18px;
  line-height: 21px;
  margin: 0 85px;
}

.what-todo-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.call-to-action {
  padding: 96px 70px;
}

.call-to-action .section-header {
  margin-bottom: 54px;
}

.call-to-action .call-to-action-button {
  margin: 0;
}

.call-to-action-link{
  color: #fff;
  text-decoration: none;
}

.email-list {
  background-color: #333333;
  background-image: url('../images/subscribe-background.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #fff;
  padding: 95px 258px 104px;
}

.email-list-title {
  color: #fff;
}

.email-list-subtitle {
  margin-bottom: 54px;
}

.contacts-link {
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  color: #000;
  text-decoration: none;
}

.contacts-link:hover, .contacts-link:hover {
  color: #756157;
}

.contacts-link:active {
  color: rgba(117, 97, 87, 0.3)
}

.filters {
  background-color: #756157;
  background-image: url(../images/catalog-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #fff;
  padding: 0 70px;
}

.catalog-header {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-list {
  font-size: 16px;
  line-height: 21px;
  display: flex;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.breadcrumbs-link {
  display: block;
  min-width: 13px;
  height: 100%;
}

.breadcrumbs-item:first-child {
  margin-right: 10px;
}

.breadcrumbs-item:first-child .breadcrumbs-link {
  background-image: url(../images/icons/small-home-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-item:nth-child(2) {
  margin-left: 18px;
  position: relative;
}

.breadcrumbs-item:nth-child(2)::before {
  content: url(../images/icons/arrow-icon.svg);
  position: absolute;
  left: -18px;
}

.filters-form {
  font-size: 18px;
  line-height: 23px;
}

.infrastructure-filters {
  margin-right: 70px;
}

.legend {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.button-reset {
  background: none;
}

.catalog-title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  margin-right: auto;
  text-transform: uppercase;
}

.catalog-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 40px;
}

.catalog-card {
  font-size: 18px;
  line-height: 21px;
  width: 340px;
  padding: 20px;
  display: grid;
  grid-template-areas:
    "image image"
    "title title"
    "type price"
    "more button"
    "stars score";
  column-gap: 20px;
  row-gap: 16px;
}

.card-image {
  grid-area: image;
  max-width: 312px;
  max-height: auto;
  justify-self: center;
}

.card-title {
  grid-area: title;
  font-size: 24px;
  line-height: 28px;
  color: #000;
  margin: 0;
}

.card-housing-type {
  grid-area: type;
  margin: 0;
}

.card-price {
  grid-area: price;
  justify-self: end;
  margin: 0;
}

.card-link {
  text-decoration: none;
}

.card-more-info {
  grid-area: more;
  margin: 0;
  align-self: center;
}

.card-button {
  grid-area: button;
}

.card-stars-list {
  grid-area: stars;
  display: flex;
  gap: 6px;
  align-self: center;
}

.card-users-score {
  grid-area: score;
  margin: 0;
  justify-self: end;
  background-color: #F2F2F2;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  align-self: center;
}

.pagination {
  margin-top: 40px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.pagination-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-link {
  display: block;
  color: #fff;
  background-color: #82B3D3;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  align-self: center;
  font-size: 20px;
  line-height: 36px;
  width: 60px;
  height: 60px;
  padding-top: 11px;
}

.pagination-current {
  color: #000;
  background-color: #F2F2F2;
}

.pagination-three-dots {
  display: inline-block;
  color: #000;
  width: 60px;
  height: 60px;
  padding-top: 11px;
  text-align: center;
}

.email-list.catalog {
  color: inherit;
  background-color: inherit;
  background-image: none;
  padding: 96px 70px 104px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}

.advantages-item {
  width: 400px;
  height: 385px;
}

.advantages-item.image {
  width: 800px;
  height: 385px;
}

.what-todo-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.what-todo-item {
  width: 400px;
  height: 385px;
}

.footer {
  padding: 45px 70px;
  display: flex;
  justify-content: space-between;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 141px;
}

.social-link {
  display: block;
  min-width: 47px;
  min-height: 50px;
}

.copyright-link {
  max-height: 50px;
  align-self: center;
}

.filtered-catalog {
  padding: 50px 70px 60px;
}

.filters {
  padding: 35px 70px 70px;
}

.filters .catalog-header {
  margin: 0;
  margin-bottom: 8px;
}

.filters-form {
  display: flex;
  justify-content: space-between;
}

.hotel-filters {
  display: flex;
  margin-right: 140px;
}

.price-range {
  margin-right: 70px;
}

.filters-controllers {
  display: flex;
  flex-direction: column;
}

.filters-controllers .button-apply {
  margin-top: 56px;
  margin-bottom: 32px;
}

.catalog-controllers {
  display: flex;
  justify-content: space-between;
  gap: 70px;
  height: 49px;
  margin-bottom: 40px;
}

.display-by-list {
  display: flex;
  gap: 8px;
}

.display-by-button {
  width: 48px;
  height: 48px;
}

.catalog .section-header {
  margin-bottom: 54px;
}

.email-list-form {
  width: 684px;
  height: 52px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.email-list-form .button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
